*
!Dockerfile
!go.mod
!main.go
!main_test.go
!video_completion_test.go
!concat_source.go
!segment_source.go
!segment_source_test.go
!assets/
!assets/play.png

!media_command.go
!media_command_test.go
!media_output.go
!media_output_test.go
!admission_test.go
!sandbox/
!sandbox/media_sandbox.c

!sandbox/network.c
!sandbox/broker/
!sandbox/broker/*.go
!sandbox/broker/go.mod
